#homepage-navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 40px;
  font-size: 20px;
}

#homepage-navbar a {
  color: rgb(163, 163, 163);
  text-decoration: none;
}

body {
  background-color: rgb(23, 23, 23);
}

#homepage-title {
  font-size: 8rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-top: 50px;
}

#homepage-subtitle {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 58px;
}

.center-container {
  max-width: 750px;
  margin: 0 auto;
}

.apple-font {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gray-color {
  color: rgb(163, 163, 163);
}

.webpage-listing {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}



.webpage-listing a {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.webpage-listing-date {
  font-size: 20px;
  font-weight: 200;
}

.webpage-listing:hover .webpage-listing-date {
  color: rgb(255, 255, 255);
}



.no-link-decoration {
  text-decoration: none;
}